@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #000000;
    --branco: #fdfffcff;
    --cinza: rgb(181, 196, 195);
    --vermelho: #e71d36ff;
    --laranja: #ff9f1cff;
    --azul: rgb(49, 132, 220);
    --rosa: #e662ba;
    --rosa2:#b13287;
    --rosa3: #6e0a4d;
   
    --fonte-titulo: "Playwrite GB S", serif;
    --fonte-texto: "Dancing Script", serif;
}

body{
    font-family: var(--fonte-titulo);
    background-color: var(--rosa2);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--rosa3);
}

footer p{
    color: var(--branco);
    font-size: 0.9rem;
    margin: 0.8rem 0 1.2rem 0;
}

#caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 2rem;
}

.cartao {
    margin: 1rem;
    background-color: var(--rosa);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3 {
    border: 2px solid var(--laranja);
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1.5vw;
    backface-visibility: hidden;
    color: var(--preto);
}

.cartao__conteudo p {
    color: var(--preto);
}

.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta {
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.cartao__conteudo p {
    margin: 1rem;
    padding: 1.3rem;
    font-size: 20px;
}

.cartao__conteudo__resposta {
    font-size: 1.5rem;
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}


footer a {
    text-decoration: none;
    color: var(--branco);
}